.consultation {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    max-width: 500px;
    margin-bottom: 32px;
  }

  &__heading {
    color: $main-color;
    margin-bottom: 16px;
  }

  &__form {
    width: 250px;
  }

}

@media screen and (min-width: $small-screen-breackpoint-main) {
  .consultation {
    flex-direction: row;
    justify-content: space-between;

    &__text {
      width: 413px;
      margin-right: 25px;
      margin-bottom: 0;
    }

    &__form {
      width: 413px;
    }
  }
}
