.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;
  height: 206px;
  background-image: url(../images/footer.svg);
  background-size: cover;
  background-position: center;

  &__logo {
    bottom: 24px;
    left: calc(50% - #{$logo-width-mob / 2});
  }

  @media screen and (min-width: $breackpoint-main) {
    height: 359px;

    &__logo {
      bottom: 40px;
    }
  }
}
