.gallery {

  &__caption {
    margin-top: 24px;
    margin-bottom: 40px;
  }

  &__btn {
    margin: auto;
    width: 100%;
  }

  @media screen and (min-width: 430px) {
    &__btn {
      width: 188px;
    }
  }
}
