.header-mob {
  display: none;
}

.header-desck {
  position: relative;
  height: 700px;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  &__text {
    bottom: 165px;
    left: 120px;
  }

  &__logo {
    top: 24px;
    left: calc(50% - #{$logo-width-mod / 2});
  }

  &__top {
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
    top: 56px;
    left: 0;
    right: 0;
    color: white;
  }

  &__link {
    color: white;
    @include hover (color, $header-active-color);
  }

  &__nav {
    display: block;
    position: absolute;
    margin-left: 120px;
    margin-right: 120px;
    bottom: 48px;
    left: 0;
    right: 0;
  }
}
