.section {
  padding: 32px 20px;
  background-color: white;

  &__wrap {
    margin: 0 auto;
    max-width: $content-max-width;
  }

  &__wrap_info {
    margin-top: 32px;
  }

  &__heading {
    margin-bottom: 53px;
  }
}

@media screen and (min-width: 750px) {
  .section {
    padding: 76px 20px;

    &__wrap_info {
      margin-top: 28px;
    }

    &__heading {
      margin-bottom: 93px;
    }
  }
}
