$logo-width-mob: 77px;
$logo-height-mob: 50px;
$logo-width-desck: 115px;
$logo-height-desck: 76px;
$content-max-width: 1020px;

$header-active-color: #9fadc2;
$nav-active-color: #ffffff1a;
$main-color: #0075ff;

$breackpoint-header: 990px;
$breackpoint-main: 750px;
$breackpoint-gallery: 430px;
$breackpoint-photos: 650px;
$breackpoint-testimonials: 830px;
