@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
  font-weight: 300; }

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-weight: 500; }

html {
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px; }

.header-mob,
.header-desck {
  font-weight: 500; }

.header-text {
  font-size: 40px;
  line-height: 40px; }
  @media screen and (min-width: 990px) {
    .header-text {
      font-size: 60px;
      line-height: 60px; } }

.nav-mob {
  font-weight: 500;
  font-size: 22px;
  line-height: 22px; }
  .nav-mob__link_action {
    font-size: 12px;
    line-height: 16px; }

strong {
  font-weight: 500; }

.info__heading {
  font-weight: 300;
  font-size: 36px;
  line-height: 48px; }

.info__text {
  font-size: 16px;
  line-height: 27px; }
  .info__text span:first-child {
    font-size: 24px;
    line-height: 30px; }

@media screen and (min-width: 750px) {
  .info__heading {
    font-size: 48px;
    line-height: 60px; } }

.heading {
  font-weight: 300;
  font-size: 36px;
  line-height: 36px; }
  @media screen and (min-width: 750px) {
    .heading {
      font-size: 48px;
      line-height: 48px; } }

.gallery__caption {
  font-weight: 500;
  font-size: 16px; }

.btn {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 16px; }

.consultation__text {
  font-size: 16px;
  line-height: 27px; }

.consultation__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px; }

.input {
  font-size: 16px;
  line-height: 18px; }

.person__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px; }

.person__position {
  font-size: 14px;
  line-height: 27px; }

.person__text {
  font-size: 16px;
  line-height: 27px; }

.contact__text {
  line-height: 27px; }
  .contact__text p:first-child {
    font-size: 14px; }
  .contact__text p:last-child {
    font-size: 16px; }

body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

ul {
  list-style: none; }

a {
  color: #0075ff;
  text-decoration: none; }
  a:focus {
    outline: 1.5px solid #0075ff; }

@media screen and (max-width: 989px) {
  .header-desck {
    display: none; }
  .header-mob {
    position: relative;
    height: 568px;
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-position: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 2; }
    .header-mob__text {
      bottom: 80px;
      left: 20px; }
    .header-mob__logo {
      top: 24px;
      left: calc(50% - 38.5px); }
    .header-mob__phone {
      position: absolute;
      display: block;
      height: 20px;
      width: 20px;
      top: 40px;
      left: 23px;
      background-image: url(../images/phone.svg);
      background-size: cover;
      background-position: center; }
    .header-mob__toggle {
      display: none; }
    .header-mob__btn {
      display: block;
      position: fixed;
      top: 48px;
      right: 23px;
      width: 25px;
      height: 20px;
      cursor: pointer;
      z-index: 4; }
    .header-mob__span, .header-mob__span::before, .header-mob__span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background-color: white;
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s; }
    .header-mob__span::before {
      content: "";
      top: -8px; }
    .header-mob__span::after {
      content: "";
      top: 8px; }
    .header-mob__toggle:checked ~ .header-mob__btn > .header-mob__span {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .header-mob__toggle:checked ~ .header-mob__btn > .header-mob__span::before {
      top: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0); }
    .header-mob__toggle:checked ~ .header-mob__btn > .header-mob__span::after {
      top: 0;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
    .header-mob__toggle:checked ~ .header-mob__nav {
      visibility: visible;
      top: 0; }
    .header-mob__circle {
      position: fixed;
      top: 31px;
      right: 18px;
      height: 36px;
      width: 36px;
      border-radius: 50%;
      background-color: #0075ff;
      -webkit-box-shadow: 0 5px 27px rgba(0, 83, 181, 0.46);
              box-shadow: 0 5px 27px rgba(0, 83, 181, 0.46);
      z-index: 1; }
  .nav-mob {
    position: fixed;
    visibility: hidden;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: #0075ff;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
    z-index: 3; }
    .nav-mob__logo {
      top: 24px;
      left: calc(50% - 38.5px); }
    .nav-mob__wrap {
      position: absolute;
      bottom: 52px; }
    .nav-mob__item {
      margin: 9px 0; }
    .nav-mob__link {
      display: block;
      margin-left: 21px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      padding: 7px 0;
      color: white;
      -webkit-transition: color 0.3s;
      transition: color 0.3s; }
      .nav-mob__link:hover {
        color: #9fadc2; }
    .nav-mob__link_action:first-of-type {
      margin-top: 32px; }
    .nav-mob__link_action:last-of-type {
      padding: 7px 0 6px;
      margin-top: 16px;
      border-bottom: 1px solid; } }

@media screen and (min-width: 990px) {
  .header-mob {
    display: none; }
  .header-desck {
    position: relative;
    height: 700px;
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-position: center;
    letter-spacing: 2px;
    text-transform: uppercase; }
    .header-desck__text {
      bottom: 165px;
      left: 120px; }
    .header-desck__logo {
      top: 24px;
      left: calc(50% - 38.5px); }
    .header-desck__top {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 0 120px;
      top: 56px;
      left: 0;
      right: 0;
      color: white; }
    .header-desck__link {
      color: white;
      -webkit-transition: color 0.3s;
      transition: color 0.3s; }
      .header-desck__link:hover {
        color: #9fadc2; }
    .header-desck__nav {
      display: block;
      position: absolute;
      margin-left: 120px;
      margin-right: 120px;
      bottom: 48px;
      left: 0;
      right: 0; }
  .nav-desck {
    color: white; }
    .nav-desck__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .nav-desck__item_active {
      background-color: #ffffff1a;
      border-radius: 8px; }
    .nav-desck__link {
      display: block;
      padding: 7px 20px;
      color: white;
      -webkit-transition: color 0.3s;
      transition: color 0.3s; }
      .nav-desck__link:hover {
        color: #9fadc2; } }

.logo {
  position: absolute;
  width: 77px;
  height: 50px;
  background-image: url(../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }
  @media screen and (min-width: 990px) {
    .logo {
      width: 115px;
      height: 76px; } }

.header-text {
  position: absolute;
  text-transform: none;
  color: white; }
  .header-text::before {
    content: "";
    position: absolute;
    display: block;
    width: 35px;
    height: 2px;
    top: -16px;
    background: white;
    border-radius: 2px; }

.section {
  padding: 32px 20px;
  background-color: white; }
  .section__wrap {
    margin: 0 auto;
    max-width: 1020px; }
  .section__wrap_info {
    margin-top: 32px; }
  .section__heading {
    margin-bottom: 53px; }

@media screen and (min-width: 750px) {
  .section {
    padding: 76px 20px; }
    .section__wrap_info {
      margin-top: 28px; }
    .section__heading {
      margin-bottom: 93px; } }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .info__heading {
    margin-bottom: 48px;
    max-width: 500px;
    text-transform: uppercase; }
  .info__text {
    max-width: 500px; }
  .info__paragraph:not(:last-child) {
    margin-bottom: 30px; }
  .info__span {
    display: block;
    margin-bottom: 25px;
    color: #0075ff; }

@media screen and (min-width: 750px) {
  .info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .info__heading {
      margin-right: 25px;
      width: 314px;
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; } }

.heading {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase; }
  .heading::before, .heading::after {
    content: "";
    display: block;
    position: absolute;
    width: calc(50% - 20px);
    height: 2px;
    top: calc(100% + 5px);
    background-color: #0075ff; }
  .heading::before {
    left: 0; }
  .heading::after {
    right: 0; }
  .heading__crown {
    display: block;
    position: absolute;
    margin: auto;
    width: 20px;
    height: 13px;
    left: 0;
    right: 0;
    top: calc(100% + 4px);
    background-image: url(../images/crown.svg); }

.gallery__caption {
  margin-top: 24px;
  margin-bottom: 40px; }

.gallery__btn {
  margin: auto;
  width: 100%; }

@media screen and (min-width: 430px) {
  .gallery__btn {
    width: 188px; } }

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .photos__link {
    display: block;
    height: 131px;
    width: calc(50% - 10px);
    border-radius: 8px;
    overflow: hidden; }
    .photos__link:hover, .photos__link:focus {
      -webkit-box-shadow: 0 0 22px rgba(0, 83, 181, 0.5);
              box-shadow: 0 0 22px rgba(0, 83, 181, 0.5);
      outline: none; }
  .photos__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .photos__img:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  @media screen and (min-width: 650px) {
    .photos__link {
      height: 256px; }
    .photos_wide_left .photos__link:first-child {
      width: calc(67% - 10px); }
    .photos_wide_left .photos__link:last-child {
      width: calc(33% - 10px); }
    .photos_wide_right .photos__link:first-child {
      width: calc(33% - 10px); }
    .photos_wide_right .photos__link:last-child {
      width: calc(67% - 10px); } }

.btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 56px;
  border: 2px solid #0075ff;
  border-radius: 8px;
  background: white;
  -webkit-box-shadow: 0 13px 27px transparent;
          box-shadow: 0 13px 27px transparent;
  color: #0075ff;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  outline: none; }
  .btn:hover {
    color: white; }
  .btn:hover {
    background: #0075ff; }
  .btn:hover {
    -webkit-transition: -webkit-box-shadow 0.5s;
    transition: -webkit-box-shadow 0.5s;
    transition: box-shadow 0.5s;
    transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
    -webkit-box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
            box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46); }
  .btn:focus {
    -webkit-box-shadow: 0 0 15px rgba(0, 83, 181, 0.46);
            box-shadow: 0 0 15px rgba(0, 83, 181, 0.46); }

.consultation {
  display: grid;
  grid-template-columns: minmax(auto, 500px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px 25px; }
  .consultation__heading {
    color: #0075ff;
    margin-bottom: 16px; }
  @media screen and (min-width: 750px) {
    .consultation {
      grid-template-columns: repeat(2, minmax(auto, 420px));
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.form__item {
  display: block;
  margin-bottom: 10px; }

.form__input, .form__btn {
  width: 100%; }

.input {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 17px;
  background: #f7f8ff;
  border: 1px solid #f7f8ff;
  border-radius: 8px;
  outline: none;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
  .input::-webkit-input-placeholder {
    color: #b9c1ce; }
  .input::-moz-placeholder {
    color: #b9c1ce; }
  .input:-ms-input-placeholder {
    color: #b9c1ce; }
  .input::-ms-input-placeholder {
    color: #b9c1ce; }
  .input::placeholder {
    color: #b9c1ce; }
  .input_textarea {
    resize: none;
    height: 144px; }
  .input:hover, .input:focus {
    -webkit-box-shadow: 0 0 15px rgba(0, 83, 181, 0.46);
            box-shadow: 0 0 15px rgba(0, 83, 181, 0.46); }

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .testimonials__person {
    margin-bottom: 48px; }
  @media screen and (min-width: 830px) {
    .testimonials {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .testimonials__person {
        margin-bottom: 0; } }

.person {
  width: 240px;
  text-align: center; }
  .person__img {
    width: 153px;
    border-radius: 50%; }
  .person__name {
    margin-top: 28px;
    color: #0075ff; }
  .person__position {
    margin: 5px 0;
    color: #9fadc2; }

.contact {
  display: grid;
  grid-template-columns: minmax(auto, 500px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 32px; }
  .contact__text {
    display: grid;
    gap: 24px 108px;
    grid-template-columns: 174px; }
  .contact__paragraph:first-child {
    margin-bottom: 8px;
    color: #9fadc2; }

@media screen and (min-width: 750px) {
  .contact {
    grid-template-columns: repeat(2, minmax(auto, 420px));
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .contact__text {
      grid-template-columns: 152px 100px;
      grid-template-rows: 60px 60px; }
    .contact__wrap:nth-child(1) {
      grid-column: 1/2;
      grid-row: 1/2; }
    .contact__wrap:nth-child(2) {
      grid-column: 1/2;
      grid-row: 2/3; }
    .contact__wrap:nth-child(3) {
      grid-column: 2/3;
      grid-row: 1/3; } }

.footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: -1;
  height: 206px;
  background-image: url(../images/footer.svg);
  background-size: cover;
  background-position: center; }
  .footer__logo {
    bottom: 24px;
    left: calc(50% - 38.5px); }
  @media screen and (min-width: 750px) {
    .footer {
      height: 359px; }
      .footer__logo {
        bottom: 40px; } }

/*# sourceMappingURL=main.css.map */
